:root {
    --bs-font-sans-serif: "system-ui", -apple-system, "Microsoft JhengHei", 微軟正黑體, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-position: center center;
    background-size: cover;
}

.bg-cover {
    background-position: center center;
    background-size: cover;
}